[user]
  email = ale2793@hotmail.com
  name = Alejandro Gonzalez

[core]
  editor = nvim
  pager =

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  wow = log --all --graph --decorate --oneline --simplify-by-decoration --full-history
  type = cat-file -t
  dump = cat-file -p
  contrib = shortlog -sn
  latest = log -5 --pretty --oneline
